<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span *ngIf="stocks" style="color:black;font-size:0.7em;">{{getStock('GOOG:NASDAQ')?.date}}</span>
          <!--<button ion-button small clear (click)="reorder_asc($event,'name')">
          <span style="color:black;font-size:0.8em;" class="{{orderByField.substring(1) != 'name' ? '': 'ordbsel'}}">n</span>
          </button>-->
          <!--<button ion-button small clear (click)="reorder_desc($event,'avgyield_per_ratio +range_52week_heat')">
            <span style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1).split(' ')[0] != 'avgyield_per_ratio' ? '': 'ordbsel'}}">ypr</span>
          </button>-->
          <button ion-button small clear (click)="reorder_ypr_hec($event)"> 
            <!--<span [hidden]="orderByField.substring(1).split(' ')[0]=='h_souce' || orderByField.substring(1).split(' ')[0]=='operating_margin' || orderByField.substring(1).split(' ')[0]=='price_to_sales' || orderByField.substring(1).split(' ')[0]=='leverage_industry_ratio' || orderByField.substring(1).split(' ')[0]=='mktcap'  || orderByField.substring(1).split(' ')[0]=='inst_own' || orderByField.substring(1).split(' ')[0]=='avg_revenue_growth_5y'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'avgyield_per_ratio' ? '': 'ordbsel'}}">ypr</span>--> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]=='value_hist_last_diff' || orderByField.substring(1).split(' ')[0]=='val_change_5y' || orderByField.substring(1).split(' ')[0]=='operating_margin' || orderByField.substring(1).split(' ')[0]=='price_to_sales' || orderByField.substring(1).split(' ')[0]=='leverage_industry_ratio' || orderByField.substring(1).split(' ')[0]=='mktcap'  || orderByField.substring(1).split(' ')[0]=='inst_own' || orderByField.substring(1).split(' ')[0]=='avg_revenue_growth_5y'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'h_souce' ? '': 'ordbsel'}}">hs</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='value_hist_last_diff'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'value_hist_last_diff' ? '': 'ordbsel'}}">val</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='val_change_5y'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'val_change_5y' ? '': 'ordbsel'}}">v5y</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='operating_margin'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'operating_margin' ? '': 'ordbsel'}}">om</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='price_to_sales'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'price_to_sales' ? '': 'ordbsel'}}">ps</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='leverage_industry_ratio'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'leverage_industry_ratio' ? '': 'ordbsel'}}">lev</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='mktcap'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'mktcap' ? '': 'ordbsel'}}">mktc</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='inst_own'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'inst_own' ? '': 'ordbsel'}}">inst</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='avg_revenue_growth_5y'" style="color:purple;font-size:0.8em;" class="{{orderByField.substring(1) != 'avg_revenue_growth_5y' ? '': 'ordbsel'}}">grw</span> 
          </button>
          <button ion-button small clear (click)="reorder_per_eps($event)"> <!-- reorder_asc($event,'per, now epsp') -->
            <span [hidden]="orderByField.substring(1).split(' ')[0]=='eps_hist_last_diff'" style="color:orange;font-size:0.8em;" class="{{orderByField.substring(1) != 'epsp' ? '': 'ordbsel'}}">epsp</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0]!='eps_hist_last_diff'" style="color:orange;font-size:0.8em;" class="{{orderByField.substring(1) != 'eps_hist_last_diff' ? '': 'ordbsel'}}">epsd</span> 
          </button>
          <button ion-button small clear (click)="reorder_desc($event,'avgyield')">
            <span style="color:green;font-size:0.8em;" class="{{orderByField.substring(1) != 'avgyield' ? '': 'ordbsel'}}">yld</span>
          </button>
          <button ion-button small clear (click)="reorder_52_heat_vol($event)"> <!-- originally reorder($event,'range_52week_heat +yield')-->
            <span style="font-size:0.8em;" class="{{orderByField.substring(1) != 'range_52week_heat +yield' ? '': 'ordbsel'}}">52w</span> 
            <span [hidden]="orderByField.substring(1).split(' ')[0] != 'range_52week_heat'"><span [hidden]="reverseSort=='+'">^</span><span [hidden]="reverseSort=='-'">v</span></span>
            <span [hidden]="orderByField.substring(1).split(' ')[0] != 'range_52week_volatility'">vo</span>
          </button>
          <button ion-button small clear (click)="showAlerted()">
            <span style="color:black;font-size:0.8em;" class="{{alert_filter_on ? 'alerted': ''}}"><ion-icon name="notifications"></ion-icon></span>
          </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <button ion-item *ngFor="let stock of stocks | orderBy : [ orderByField ]; let i=index; "  (click)="itemTapped($event, stock,alerts[stock.name+':'+stock.market], usdeur)">
    <ion-grid>
        <ion-row class="{{alerts[stock.name+':'+stock.market]?.active==true ? 'alerted': ''}}">
            <ion-col width-33>
              <span style="color:purple;font-size:0.7em;">{{addx(i,1,0)}}</span> {{ stock.name }} <span *ngIf="stock.h_souce>=5" style="color:purple;font-size:0.8em;">{{stock.h_souce}}</span><span *ngIf="stock.h_souce<5" style="color:red;font-size:0.8em;">{{stock.h_souce}}</span> <!--:{{stock.market[0]}}-->
              <span *ngIf="stock.avgyield>=2.9 && stock.computable_val_growth<0.15" style="color:green">div</span> 
              <p style="width:50%;"><progress-bar [progress]="mult100(stock.range_52week_heat)"></progress-bar> <span style="color:blue;font-size:0.7em;">{{ addx(stock.range_52week_volatility,1,1) }}x</span></p>
            </ion-col>
            <ion-col width-25>
              <span style="color:blue;font-size:0.9em;" *ngIf="!usd_market(stock.market)">{{ redux_format(stock.value) }}</span>
              <span style="color:black;font-size:0.9em;" *ngIf="usd_market(stock.market)"><!--{{redux_format(usd2eur(stock.value))}}-->
                <span style="color:blue;font-size:0.9em;" > ${{ redux_format(stock.value) }}</span>
              </span>
              <p><span style="text-align=right;font-size:0.8em;">{{ redux_format_max(stock.range_52week_low) }}-{{ redux_format_max(stock.range_52week_high) }}</span></p>
            </ion-col>
            <ion-col width-25>
                <span style="color:green;font-size:0.8em;">{{ stock.avgyield }}%</span><!--<span style="font-size:0.7em;">({{ stock.divs_per_year }})</span></ion-badge> -->
                <br />
                <span style="color:orange;font-size:0.8em;" *ngIf="stock.epsp>=0">{{mult100(stock.epsp)}}%</span>
                <span style="color:red;font-size:0.8em;" *ngIf="stock.epsp<0">{{mult100(stock.epsp)}}%</span>
                <span style="font-size:0.8em;" *ngIf="stock.eps_hist.length>1">
                            <span style="color:red;" *ngIf="stock.eps_hist.length>1   && (stock.eps_hist_trend!='/' && stock.eps_hist_trend!='/-' && stock.eps_hist_trend!='_/' && stock.eps_hist_trend!='--' && stock.eps_hist_trend!='v')">{{stock.eps_hist_trend}}</span>
                            <span style="color:green;" *ngIf="stock.eps_hist.length>1 && (stock.eps_hist_trend=='/' || stock.eps_hist_trend=='/-' || stock.eps_hist_trend=='_/' || stock.eps_hist_trend=='--' || stock.eps_hist_trend=='v') ">{{stock.eps_hist_trend}}</span>
                </span>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]=='value_hist_last_diff' || orderByField.substring(1).split(' ')[0]=='val_change_5y' || orderByField.substring(1).split(' ')[0]=='operating_margin' || orderByField.substring(1).split(' ')[0]=='price_to_sales' || orderByField.substring(1).split(' ')[0]=='leverage_industry_ratio' || orderByField.substring(1).split(' ')[0]=='mktcap' || orderByField.substring(1).split(' ')[0]=='inst_own' || orderByField.substring(1).split(' ')[0]=='avg_revenue_growth_5y'">
                    <span style="font-size:0.7em;"><ion-icon name="notifications" *ngIf="alerts[stock.name+':'+stock.market]"></ion-icon></span>
                    <span *ngIf="alerts[stock.name+':'+stock.market] && alerts[stock.name+':'+stock.market].portf && portfdiff(alerts[stock.name+':'+stock.market].portf,stock.market,stock.value)>=0" style="color:green;font-size:0.7em;">{{mult100(portfdiff(alerts[stock.name+':'+stock.market].portf,stock.market,stock.value))}}%</span>
                    <span *ngIf="alerts[stock.name+':'+stock.market] && alerts[stock.name+':'+stock.market].portf && portfdiff(alerts[stock.name+':'+stock.market].portf,stock.market,stock.value)<0" style="color:red;font-size:0.7em;">{{mult100(portfdiff(alerts[stock.name+':'+stock.market].portf,stock.market,stock.value))}}%</span>
                    <br />
                    <span style="font-size:0.7em;">{{stock.value_hist_last_diff}}% ~</span>
                    <span *ngIf="stock.computable_val_growth>=0" style="color:green;font-size:0.7em;">{{mult100(stock.computable_val_growth)}}%</span>
                    <span *ngIf="stock.computable_val_growth<0" style="color:red;font-size:0.7em;">{{mult100(stock.computable_val_growth)}}%</span>
                    
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='value_hist_last_diff' && orderByField.substring(1).split(' ')[0]!='val_change_5y'">
                    <p style="color:green;" *ngIf="(stock.value_hist_last_diff>=0)">1y:{{stock.value_hist_last_diff}}%</p>
                    <p style="color:red;"   *ngIf="(stock.value_hist_last_diff<0)">1y:{{stock.value_hist_last_diff}}%</p>
                    <p style="color:green;font-size:0.7em;" *ngIf="(stock.val_change_3y>=0)">3y:{{stock.val_change_3y}}%</p>
                    <p style="color:red;font-size:0.7em;"   *ngIf="(val_change_3y)">3y:{{stock.val_change_3y}}%</p>
                    <p style="color:green;font-size:0.7em;" *ngIf="(stock.val_change_5y>=0)">5y:{{stock.val_change_5y}}%</p>
                    <p style="color:red;font-size:0.7em;"   *ngIf="(stock.val_change_5y<0)">5y:{{stock.val_change_5y}}%</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='operating_margin'">
                    <p style="color:green;font-size:0.7em;">{{ stock.operating_margin }}<br />p: {{stock.operating_margin_prev}}</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='price_to_sales'">
                    <p style="color:orange;font-size:0.7em;">{{ stock.price_to_sales }}</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='leverage_industry_ratio'">
                    <p style="color:red;font-size:0.7em;">{{ stock.leverage }}/{{stock.leverage_industry}}<br />={{stock.leverage_industry_ratio}}</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='mktcap'">
                    <p style="color:blue;font-size:0.7em;">{{ stock.mktcap }}<br />s:{{stock.shares}}<br />e:{{stock.employees}}</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='inst_own'">
                    <p style="color:blue;color:font-size:0.7em;">{{ stock.inst_own }}</p>
            </ion-col>
            <ion-col width-25 [hidden]="orderByField.substring(1).split(' ')[0]!='avg_revenue_growth_5y'">
                    <p style="color:blue;font-size:0.7em;">{{stock.avg_revenue_growth_5y}}</p>
                    <p style="color:blue;font-size:0.7em;">qq:{{stock.revenue_growth_qq_last_year}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    </button>
  </ion-list>
</ion-content>
