<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!stock">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ stock.name }}:{{stock.market}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
      <ion-col width-100><h3  style="color:blue">{{ stock.title }} 
        <span *ngIf="stock.last_financials_outdated" style="color:red;">({{stock.last_financials_year}})</span>
        <span *ngIf="!stock.last_financials_outdated">({{stock.last_financials_year}})</span> 
      </h3></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <span style="font-size:0.8em;">Updated: {{stock.date}}</span><br />
      MktCap: <b>{{stock.mktcap}}B</b> <span [hidden]="stock.mktcap<10" style="font-size:0.8em;color:red;">big</span><span [hidden]="stock.mktcap>2" style="font-size:0.8em;color:purple;">small</span> Shares: {{stock.shares}} Employees: {{stock.employees}}k Inst: {{stock.inst_own}}<br />
        <ion-grid>
        <ion-row class="border">
            <ion-col>
            </ion-col>
            <ion-col>
            (c{{cognitionis.toFixed(stock.calc_h_souce,1)}}) <!-- Exam <b>{{stock.calc_type.name}}</b> -->
            </ion-col>
            <ion-col>
             <span *ngIf="stock.h_souce>=5" style="font-weight:bold;color:purple">{{stock.h_souce}}</span><span *ngIf="stock.h_souce<5" style="font-weight:bold;color:red">{{stock.h_souce}}</span> /{{10}}
            </ion-col>
        </ion-row>
        <!--<ion-row class="border">
          <ion-col>Yield</ion-col>
          <ion-col>
          y:<span style="color:green">{{mult100_fix2(stock.calc_computable_yield)}}%</span> &nbsp; epsp: <span *ngIf="stock.epsp>0" style="color:orange">{{mult100_fix2(stock.epsp)}}%</span><span *ngIf="stock.epsp<=0" style="color:red">{{mult100_fix2(stock.epsp)}}%</span><br /><br />
          {{cognitionis.toFixed2(stock.calc_yield)}} * w({{stock.calc_type.weight_yield}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_yield_w)}} / {{stock.calc_type.weight_yield}}</ion-col>
        </ion-row>-->
        <ion-row class="border">
          <ion-col>ValG</ion-col>
          <ion-col>
          avg+y: <span class="{{ stock.calc_computable_val_growth_y > 0 ? 'green' : 'red'}}">{{cognitionis.mult100_fix2(cognitionis.toFixed2(stock.calc_computable_val_growth_y))}}</span><br />
          {{cognitionis.toFixed2(stock.calc_val_growth)}} * w({{stock.calc_type.weight_val_growth}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_val_growth_w)}} / {{stock.calc_type.weight_val_growth}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>RevG</ion-col>
          <ion-col>
          <span class="{{stock.revenue_growth >0 ? 'green': 'red'}}">{{cognitionis.mult100(stock.revenue_growth)}}</span>
          <span style="font-size:0.7em;">q{{cognitionis.toFixed(stock.revenue_growth_qq_last_year)}}(10%)</span><br />
          <!--om/ps={{stock.operating_margin}}/{{stock.price_to_sales}}={{stock.calc_om_ps}} (max 0.3)<br />-->
          {{cognitionis.toFixed2(stock.calc_rev_growth)}} * w({{stock.calc_type.weight_rev_growth}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_rev_growth_w)}} / {{stock.calc_type.weight_rev_growth}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>Prod</ion-col>
          <ion-col>
          <span *ngIf="stock.prod>0" style="color:orange">{{cognitionis.mult100_fix2(stock.prod)}}</span><span *ngIf="stock.prod<=0" style="color:red">{{cognitionis.mult100_fix2(stock.prod)}}</span>
          <span style="color:red;" *ngIf="stock.eps_hist_trend && (stock.eps_hist_trend!='/' && stock.eps_hist_trend!='/-' && stock.eps_hist_trend!='_/' && stock.eps_hist_trend!='--' && stock.eps_hist_trend!='v')">{{stock.eps_hist_trend}}</span><span style="color:green;" *ngIf="stock.eps_hist_trend && (stock.eps_hist_trend=='/' || stock.eps_hist_trend=='/-' || stock.eps_hist_trend=='_/' || stock.eps_hist_trend=='--' || stock.eps_hist_trend=='v') ">{{stock.eps_hist_trend}}</span><br />
          {{cognitionis.toFixed2(stock.calc_epsp)}} * w({{stock.calc_type.weight_epsp}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_epsp_w)}} / {{stock.calc_type.weight_epsp}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>LevR</ion-col>
          <ion-col>
          <span class="{{stock.leverage_industry_ratio<=1.8 ? 'green' : 'red' }}">{{stock.leverage_industry_ratio}}</span>
          <span style="font-size:0.7em;">{{stock.leverage}}/{{cognitionis.max(stock.leverage_industry,2.5)}}</span><br />
          {{cognitionis.toFixed2(stock.calc_leverage)}} * w({{stock.calc_type.weight_leverage}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_leverage_w)}} / {{stock.calc_type.weight_leverage}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>guessP</ion-col>
          <ion-col>
		  {{stock.guessed_value_5y}}
          <span style="font-size:0.7em;" class="{{stock.guessed_percentage<0.9 ? 'green' : '' }} {{stock.guessed_percentage>1.7 ? 'red' : '' }}">{{stock.guessed_percentage}}</span><br />
          &lt;0.9=+0.5; &lt;0.7=+0.5;<br />
          &gt;1.7=-0.5; &gt;2.7=-0.5;		  
		  </ion-col>
          <ion-col>[-1,1]</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>Neg valG</ion-col>
          <ion-col>
          yy_drops:{{stock.val_yy_drops}}%<br />
          {{cognitionis.toFixed2(stock.calc_val_growth_penalty)}} * w({{stock.calc_type.weight_val_growth_penalty}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_val_growth_penalty_w)}} / -{{stock.calc_type.weight_val_growth_penalty}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>Neg revG</ion-col>
          <ion-col>
          {{cognitionis.toFixed2(stock.calc_rev_growth_penalty)}} * w({{stock.calc_type.weight_rev_growth_penalty}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_rev_growth_penalty_w)}} / -{{stock.calc_type.weight_rev_growth_penalty}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col>Negative epsG</ion-col>
          <ion-col>
          {{cognitionis.toFixed2(stock.calc_eps_growth_penalty)}} * w({{stock.calc_type.weight_eps_growth_penalty}})</ion-col>
          <ion-col>{{cognitionis.toFixed2(stock.calc_eps_growth_penalty_w)}} / -{{stock.calc_type.weight_eps_growth_penalty}}</ion-col>
        </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
    <ion-col>
        <ion-grid>
            <ion-row class="border">
                <ion-col>y</ion-col>
                <ion-col>val</ion-col>
                <ion-col>rev</ion-col>
                <!--<ion-col>oi</ion-col>-->
                <ion-col>om</ion-col>
                <ion-col>oip</ion-col>
                <!--<ion-col>ni</ion-col>-->
                <ion-col>eq</ion-col>
           </ion-row>
            <ion-row class="border">
                <ion-col>s</ion-col>
                <ion-col>{{cognitionis.toFixed(this.stock.value,1)}}<span style="font-size:0.7em;" class="{{this.stock.calc_computable_val_growth_y>0.10 ? 'green' : ''}} {{this.stock.calc_computable_val_growth_y<0 ? 'red' : ''}}">{{cognitionis.mult100(this.stock.calc_computable_val_growth_y)}}</span></ion-col>
                <ion-col>X<span style="font-size:0.7em;" class="{{this.stock.revenue_growth>0.10 ? 'green' : ''}} {{this.stock.revenue_growth<0 ? 'red' : ''}}">{{cognitionis.mult100(this.stock.revenue_growth)}}</span></ion-col>
                <!--<ion-col>oi</ion-col>-->
                <ion-col>{{cognitionis.mult100(this.stock.om_pot)}}</ion-col>
                <ion-col><span style="color:orange;">{{cognitionis.mult100(this.stock.prod)}}</span></ion-col>
                <!--<ion-col>{{cognitionis.toFixed2(this.stock.epsp)}}</ion-col>-->
                <ion-col></ion-col>
           </ion-row>
            <ion-row *ngFor="let year of tsv_arr_keys">
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.get_year_2(year)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].value,1)}}
                <span style="font-size:0.7em;" class="{{tsv_arr[year].value_g>0.10 ? 'green' : ''}} {{tsv_arr[year].value_g<0 ? 'red' : ''}}">{{cognitionis.mult100(tsv_arr[year].value_g)}}</span>
                </ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].revenue,1)}}
                <span style="font-size:0.7em;" class="{{tsv_arr[year].revenue_g>0.10 ? 'green' : ''}} {{tsv_arr[year].revenue_g<0 ? 'red' : ''}}">{{cognitionis.mult100(tsv_arr[year].revenue_g)}}</span>
                </ion-col>
                <!--<ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{tsv_arr[year].operating_income}}</ion-col>-->
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.mult100(tsv_arr[year].om)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.mult100(tsv_arr[year].operating_income_psp)}}</ion-col>
                <!--<ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{tsv_arr[year].net_income}}</ion-col>-->
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].equity,1)}}
                <!--<span style="font-size:0.7em;" class="{{tsv_arr[year].equity_g>0.10 ? 'green' : ''}} {{tsv_arr[year].equity_g<0 ? 'red' : ''}}">{{tsv_arr[year].equity_g}}</span>-->
                </ion-col>
           </ion-row>
        </ion-grid>
        
    </ion-col>
    </ion-row>
    
    <ion-row>
    <ion-col>
        <ion-grid>
            <ion-row class="border">
                <ion-col>eqps</ion-col>
                <ion-col>prps</ion-col>
                <ion-col>revg</ion-col>
                <ion-col>val</ion-col>
                <ion-col>gx</ion-col>
                <ion-col>gs5</ion-col>
                <ion-col>gs10</ion-col>
           </ion-row>
            <ion-row>
                <ion-col>{{cognitionis.toFixed(stock.equity_ps,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(stock.operating_income_ps,1)}}</ion-col>
                <ion-col>
                    <span class="{{stock.revenue_growth<0 ? 'red' : ''}}">{{cognitionis.mult100(stock.revenue_growth)}}[{{cognitionis.mult100(stock.revenue_acceleration)}}]</span>
                </ion-col>
                <ion-col>{{cognitionis.toFixed(stock.value,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(stock.calc_value,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(stock.guess_5y,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(stock.guess_10y,1)}}</ion-col>
           </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row class="border">
                <ion-col>eqps</ion-col>
                <ion-col>revps</ion-col>
                <ion-col>oi.01</ion-col>
                <ion-col>oi.03</ion-col>
                <ion-col>oi.10</ion-col>
           </ion-row>
            <ion-row>
                <ion-col>{{cognitionis.toFixed(stock.equity_ps,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(stock.revenue_ps,1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(cognitionis.guess_n(stock.value,stock.equity_ps,cognitionis.mult(stock.revenue_ps,0.01),stock.revenue_growth,stock.revenue_acceleration,5),1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(cognitionis.guess_n(stock.value,stock.equity_ps,cognitionis.mult(stock.revenue_ps,0.03),stock.revenue_growth,stock.revenue_acceleration,5),1)}}</ion-col>
                <ion-col>{{cognitionis.toFixed(cognitionis.guess_n(stock.value,stock.equity_ps,cognitionis.mult(stock.revenue_ps,0.10),stock.revenue_growth,stock.revenue_acceleration,5),1)}}</ion-col>
           </ion-row>
        </ion-grid>
    </ion-col>
    </ion-row>

  <ion-row>
    <ion-col>
       <b>Yield avg: <span style="color:green;">{{stock.avgyield}}</span></b>
       <b>Yield last diff:       
       <span style="color:green;" *ngIf="(stock.yield_hist_last_diff>=0)">{{stock.yield_hist_last_diff}}%</span>
       <span style="color:red;"   *ngIf="(stock.yield_hist_last_diff<0)">{{stock.yield_hist_last_diff}}%</span>
        </b>. 
       <b>Yield hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let yield_item of stock.yield_hist" >
             {{yield_item[0]}}: <b>{{yield_item[1]}}</b>
            </li>
        </ul>
       <br /> alternative: dividend.com, DivY/Price History graph, disable Price in legend
    </ion-col>
  </ion-row>
  <!--<ion-row>
    <ion-col>
       <b>EPSP last diff: 
      <span style="color:red;" *ngIf="(stock.epsp_hist_last_diff>=0)">{{stock.epsp_hist_last_diff}}%</span>
      <span style="color:green;"   *ngIf="(stock.epsp_hist_last_diff<0)">{{stock.epsp_hist_last_diff}}%</span>
        </b>. 
       <b>EPSP hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.epsp_hist" >
             {{item[0]}}: <b>{{item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>-->

<!--  <ion-row>
    <ion-col>
       <b>val diff 54w: 
      <span class="{{stock.value_hist_last_diff > 10 ? 'green': ''}} {{stock.value_hist_last_diff < -10 ? 'red': '' }}">{{stock.value_hist_last_diff}}%</span>
        </b>. 
       <b>value hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let valhist of stock.value_hist; let i=index;" >
             {{cognitionis.get_year_2(valhist[0])}}: {{valhist[1]}} &nbsp; <span *ngIf="i>0" class="{{diff_percentage(stock.value_hist,i) > 10 ? 'green': ''}} {{diff_percentage(stock.value_hist,i) < -10 ? 'red': '' }}">{{diff_percentage(stock.value_hist,i)}}%</span>
            </li>
        </ul>
    </ion-col>
    <ion-col>
       <b>revenue hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.revenue_hist; let i=index;" >
             {{cognitionis.get_year_2(revenue_item[0])}}: <b>{{revenue_item[1]}}</b>  &nbsp; <span *ngIf="i>0" class="{{diff_percentage(stock.revenue_hist,i) > 10 ? 'green': ''}} {{diff_percentage(stock.revenue_hist,i) < -10 ? 'red': '' }}">{{diff_percentage(stock.revenue_hist,i)}}%</span>

            </li>
        </ul>-->
       <!--<b>revenue growth hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.revenue_growth_arr" >
                <b>{{mult100(revenue_item,0)}}</b>
            </li>
        </ul>-->
<!--       <b>revenue acc avg: <span style="color:orange;">{{stock.revenue_acceleration}}</span></b><br />
       <b>revenue 5y: <span style="color:orange;">{{stock.avg_revenue_growth_5y}}</span></b><br />
       <b>revenue qq: <span style="color:orange;">{{stock.revenue_growth_qq_last_year}}</span></b><br />
       <b>revenue qq hist</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.revenue_growth_qq_last_year_hist" >
             {{revenue_item[0]}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>

       <b>op inc hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.operating_income_hist" >
             {{cognitionis.get_year_2(revenue_item[0])}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>


       <b>net inc hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.net_income_hist" >
             {{cognitionis.get_year_2(revenue_item[0])}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>
       <b>OP: <span style="color:orange;">{{stock.operating_margin}}</span></b>
       <b>OP last diff:       
       <span style="color:green;" *ngIf="(stock.operating_margin_hist_last_diff>=0)">{{stock.operating_margin_hist_last_diff}}%</span>
       <span style="color:red;"   *ngIf="(stock.operating_margin_hist_last_diff<0)">{{stock.operating_margin_hist_last_diff}}%</span>
        </b>. 
       <b>OP hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.operating_margin_hist" >
             {{item[0]}}: <b>{{item[1]}}</b>
            </li>
        </ul>
    </ion-col>
    <ion-col>
       <b>EQ hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.equity_hist" >
             {{cognitionis.get_year_2(item[0])}}: <b>{{item[1]}}</b> 
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <b>PS: <span style="color:orange;">{{stock.price_to_sales}}</span></b>
       <b>PS last diff: 
      <span style="color:red;" *ngIf="(stock.price_to_sales_hist_last_diff>=0)">{{stock.price_to_sales_hist_last_diff}}%</span>
      <span style="color:green;"   *ngIf="(stock.price_to_sales_hist_last_diff<0)">{{stock.price_to_sales_hist_last_diff}}%</span>
        </b>. 
       <b>PS hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.price_to_sales_hist" >
             {{item[0]}}: <b>{{item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>


  <ion-row>
  </ion-row>  -->
  <ion-row>
    <ion-col>
        <!--eq: {{stock.eq}} ass: {{stock.assets}}--> 
       ap:{{cognitionis.toFixed2(stock.calc_ap)}} - lp:{{cognitionis.toFixed2(stock.calc_lp)}} = eqp:{{cognitionis.toFixed2(stock.calc_eqp)}}<br />
       <b>leverage  <span style="color:brown;">{{stock.leverage}}</span> industry: {{stock.leverage_industry}} lev-inds-ratio: {{leverage_industry_ratio}} <!--avg: <span style="color:pink;">{{stock.avgleverage}}</span>--></b>
       <b>leverage hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let lev_item of stock.leverage_hist" >
             {{lev_item[0]}}: <b>{{lev_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
        pb: {{stock.price_to_book}} pb_calc: {{cognitionis.toFixed2(stock.calc_pb)}} <br />
       <b>price to book <span style="color:brown;">{{stock.price_to_book}}</span></b>
       <b>price_to_book hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let price_to_book_item of stock.price_to_book_hist" >
             {{price_to_book_item[0]}}: <b>{{price_to_book_item[1]}}</b> <span style="color:red" *ngIf="price_to_book_item[1]>10">(!!! it is >10)</span>
            </li>
        </ul>
    <br /> - Volat: {{ cognitionis.addx(stock.range_52week_volatility,1,1) }}x 
    <br /><br />
   <b>h_souce hist:</b>
   <ul class="list">
        <li class="item" *ngFor="let h_item of stock.h_souce_hist" >
         {{h_item[0]}}: <b>{{h_item[1]}}</b>
        </li>
    </ul>

    <br />
    </ion-col>
  </ion-row>
  
  <ion-row>
      <ion-col width-50><h5>FACTS</h5></ion-col>
      <ion-col width-50><h5><ion-icon name="notifications"></ion-icon> ALERT  </h5></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-15>
      <h4>Value</h4>
      <p><progress-bar [progress]="cognitionis.mult100(stock.range_52week_heat)"></progress-bar></p>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:blue;">{{ stock.value }} </h4>
      <p><span style="text-align=right;font-size:0.8em;">{{ stock.range_52week_low }}-{{ stock.range_52week_high }}</span></p>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low">low</span><span style="color:red;" *ngIf="alert_status.low">low</span></ion-label> 
                <ion-input type="text" [value]="alert.low" [(ngModel)]="alert.low" (blur)="update_alert('low','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high">high</span><span style="color:red;" *ngIf="alert_status.high">high</span></ion-label>
                <ion-input type="text" [value]="alert.high" [(ngModel)]="alert.high" (blur)="update_alert('high','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="cognitionis.usd_market(stock.market)">
    <ion-col width-15>
      <h4>ValEur: <span style="text-align=right;font-size:0.8em;">{{cognitionis.toFixed2(usdeur)}}</span></h4>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:blue;">{{usd2eur(stock.value)}}</h4>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.lowe">low</span><span style="color:red;" *ngIf="alert_status.lowe">low</span></ion-label> 
                <ion-input type="text" [value]="alert.lowe" [(ngModel)]="alert.lowe" (blur)="update_alert('lowe','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.highe">high</span><span style="color:red;" *ngIf="alert_status.highe">high</span></ion-label>
                <ion-input type="text" [value]="alert.highe" [(ngModel)]="alert.highe" (blur)="update_alert('highe','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>

  
  <ion-row>
    <ion-col width-15>
      <h4>Portf</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:green;" *ngIf="(portfdiff()>=0)">{{cognitionis.mult100(portfdiff())}}%</h5>
      <h5 style="color:red;"   *ngIf="(portfdiff()<0)">{{cognitionis.mult100(portfdiff())}}%</h5>
    </ion-col>
    <ion-col width-15>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.portf">valeur</span><span style="color:red;" *ngIf="alert_status.portf">valeur</span></ion-label> 
                <ion-input type="text" [value]="alert.portf" [(ngModel)]="alert.portf" (blur)="update_alert('portf','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25  *ngIf="alert.portf">
        <span *ngIf="show_stop_val()">stop-20%val: <b><span *ngIf="cognitionis.usd_market(stock.market)">$</span>{{cognitionis.toFixed2(loss_percentage(stock.value))}}</b><br />w: <b>{{stopdiff()}}%</b></span>
        <span *ngIf="!show_stop_val()">stop-20%port: <b><span *ngIf="cognitionis.usd_market(stock.market)">$</span>{{cognitionis.toFixed2(loss_percentage_portf(alert.portf))}}</b><br />w: <b>{{stopdiff()}}%</b></span> 
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col width-15>
      <h4>Change</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:black;">{{ stock.session_change_percentage }}%</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_change_percentage">low</span><span style="color:red;" *ngIf="alert_status.low_change_percentage">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_change_percentage" [(ngModel)]="alert.low_change_percentage" (blur)="update_alert('low_change_percentage','-num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_change_percentage">high</span><span style="color:red;" *ngIf="alert_status.high_change_percentage">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_change_percentage" [(ngModel)]="alert.high_change_percentage" (blur)="update_alert('high_change_percentage','+num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  

  
  <ion-row>
    <ion-col width-15>
      <h4>Yield</h4>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:black;"><ion-badge color="secondary">{{ stock.yield }}% <span style="font-size:0.7em;">({{ stock.divs_per_year }})</span></ion-badge></h4>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_yield">low</span><span style="color:red;" *ngIf="alert_status.low_yield">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_yield" [(ngModel)]="alert.low_yield" (blur)="update_alert('low_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_yield">high</span><span style="color:red;" *ngIf="alert_status.high_yield">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_yield" [(ngModel)]="alert.high_yield" (blur)="update_alert('high_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col width-15>
      <h4>EPS(av)</h4>
      <p>price-ind 4q</p>
    </ion-col>
    <ion-col width-15>
      <h5>{{stock.eps}}</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_eps">low</span><span style="color:red;" *ngIf="alert_status.low_eps">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_eps" [(ngModel)]="alert.low_eps" (blur)="update_alert('low_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_eps">high</span><span style="color:red;" *ngIf="alert_status.high_eps">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_eps" [(ngModel)]="alert.high_eps" (blur)="update_alert('high_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  
    <ion-row>
    <ion-col>
        <ion-grid>
            <ion-row class="border">
                <ion-col>y</ion-col>
                <ion-col>val</ion-col>
                <ion-col>eqps</ion-col>
                <ion-col>oips</ion-col>
                <ion-col>prps</ion-col>
                <ion-col>revg</ion-col>
                <ion-col>gx</ion-col>
                <ion-col>gs5</ion-col>
                <ion-col>gs10</ion-col>
           </ion-row>
            <ion-row *ngFor="let year of tsv_arr_keys">
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.get_year_2(year)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].value,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].equity_ps,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].operating_income_ps,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].prod_ps,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">
                    <span class="{{tsv_arr[year].revenue_g<0 ? 'red' : ''}}">{{cognitionis.mult100(tsv_arr[year].revenue_g)}}[{{cognitionis.mult100(tsv_arr[year].revenue_a)}}]</span>
                </ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].guess1,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].guess5,1)}}</ion-col>
                <ion-col *ngIf="tsv_arr[year].revenue && tsv_arr[year].revenue>0">{{cognitionis.toFixed(tsv_arr[year].guess10,1)}}</ion-col>
           </ion-row>
        </ion-grid>
        
    </ion-col>
    </ion-row>

  </ion-grid>
  


</ion-content>
