<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!stock">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ stock.name }}:{{stock.market}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
      <ion-col width-100><h3  style="color:blue">{{ stock.title }}</h3></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <span style="font-size:0.8em;">Updated: {{stock.date}}, goog fin Q: {{stock.key_period}} </span><br />
      MktCap: <b>{{stock.mktcap}}B</b> <span [hidden]="stock.mktcap<10" style="font-size:0.8em;color:red;">big</span><span [hidden]="stock.mktcap>2" style="font-size:0.8em;color:purple;">small</span> Shares: {{stock.shares}} Employees: {{stock.employees}}k Inst: {{stock.inst_own}}<br />
      <div style="width:94%;background:white;margin:0 3%;float:left;">
          <div style="width:100%;text-align:center;color:purple;background:white;margin:0 auto;">
              YPR: <b>{{stock.h_souce}} ({{stock.avgyield_per_ratio}} !bonus)</b><br />
              All values averaged with avg to smooth changes (see avg below)
          </div>
          <div style="width:100%;background:white;margin:0;padding-right:10%;float:left;text-align:center;">
              <div style="width:50%;background:white;margin:0;float:left;text-align:center;">
                  <div style="border:1px solid white;background:white;margin:0;float:right;text-align:left;">={{stock.avgyield_per_ratio_original}}</div>
                  <div style="background:green;margin:0;float:right;text-align:center;">
                      <div style="border-bottom:1px solid #32db64;margin:0;color:#32db64;background:white;text-align:center;">yield(ttm)=<b>{{stock.avgyield}}</b> [1.5 - 7]</div>
                      <div style="border-top:1px solid orange;margin:0;color:orange;background:white;text-align:center;">per(ttm)=<b>{{stock.per}}</b>(&{{stock.avgper}})[6 - 100] </div>
                  </div>
              </div>
              <div style="width:50%;background:white;margin:0;padding-left:10%;float:right;text-align:center;">
                  <div style="background:gray;margin:0;float:left;text-align:center;">
                      <div style="border-bottom:1px solid #32db64;margin:0;color:#32db64;background:white;text-align:center;">op(mrq)=<b>{{stock.operating_margin}} (avg: {{stock.operating_margin_avg}})</b>(max 55)/8 [0.2 - 7]</div>
                      <div style="border-top:1px solid orange;margin:0;color:orange;background:white;text-align:center;">ps(ttm)=<b>{{stock.price_to_sales}}</b>(&{{stock.avgprice_to_sales}})*4 [6 - 100]</div>
                  </div>
                  <div style="border:1px solid white;background:white;margin:0;float:left;text-align:left;">={{stock.calc_om_ps}}</div>
              </div>
          </div>
          <div style="width:100%;color:#black;background:white;text-align:center;float:left;">
              rev_growth_qq_last_y=<b>{{stock.revenue_growth_qq_last_year}}</b>(&{{stock.avgrevenue_growth_qq_last_year}})[-0.10 - 0.10] +<br />
              rev_growth_avg_5y=<b>{{stock.avg_revenue_growth_5y}}</b> [-0.20 - 0.20]
          </div>
          <div style="width:100%;color:#black;background:white;text-align:center;float:left;">
              val_change_5y=<b>{{stock.val_change_5y}}(&3y={{stock.val_change_3y}})</b> [-0.20 - 0.15]
          </div>

          <div style="width:100%;color:#a33;background:white;text-align:center;float:left;">
              lev(ttm)=<b>{{stock.leverage}}</b>/industry={{stock.leverage_industry}}(min 2.5,banks 11)=<b>{{stock.calc_lev_ind_ratio}}</b> [1 - 2]
          </div>
      </div>
      <br style="clear:both" />
      Bonuses:<br>
      <ul>
        <li>heat_opportunity*volat(max 0.1): {{stock.heat_opportunity}}</li>
        <li>eps_diff (max 0.025): {{stock.eps_opportunity}}</li>
        <li>eps_trend_2 (max 0.05): {{stock.eps_trend}}</li>
        <li>high_yld_low_volat(&gt;3,&lt;1.4)(max: 0.05): {{stock.high_yld_low_volatility_bonus}}</li>
        <li>revenue_growth (qq&gt;5y) (max 0.05): {{stock.revenue_growth_bonus}}</li>
        <li>neg_growth (max -0.15): {{stock.negative_growth_penalty}}</li>
        <li>% val yy drops (max -0.50): -{{stock.val_yy_drops}}/2</li>
      </ul>
      
      
    <br /> - Volat: {{ addx(stock.range_52week_volatility,1,1) }}x  -  Beta: {{stock.beta}} 
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col width-50><h5>FACTS</h5></ion-col>
      <ion-col width-50><h5><ion-icon name="notifications"></ion-icon> ALERT  </h5></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-15>
      <h4>Value</h4>
      <p><progress-bar [progress]="mult100(stock.range_52week_heat)"></progress-bar></p>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:blue;">{{ stock.value }}</h4>
      <p><span style="text-align=right;font-size:0.8em;">{{ stock.range_52week_low }}-{{ stock.range_52week_high }}</span></p>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low">low</span><span style="color:red;" *ngIf="alert_status.low">low</span></ion-label> 
                <ion-input type="text" [value]="alert.low" [(ngModel)]="alert.low" (blur)="update_alert('low','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high">high</span><span style="color:red;" *ngIf="alert_status.high">high</span></ion-label>
                <ion-input type="text" [value]="alert.high" [(ngModel)]="alert.high" (blur)="update_alert('high','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="usd_market(stock.market)">
    <ion-col width-15>
      <h4>ValEur: <span style="text-align=right;font-size:0.8em;">{{toFixed2(usdeur)}}</span></h4>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:blue;">{{usd2eur(stock.value)}}</h4>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.lowe">low</span><span style="color:red;" *ngIf="alert_status.lowe">low</span></ion-label> 
                <ion-input type="text" [value]="alert.lowe" [(ngModel)]="alert.lowe" (blur)="update_alert('lowe','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.highe">high</span><span style="color:red;" *ngIf="alert_status.highe">high</span></ion-label>
                <ion-input type="text" [value]="alert.highe" [(ngModel)]="alert.highe" (blur)="update_alert('highe','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>

  
  <ion-row>
    <ion-col width-15>
      <h4>Portf</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:green;" *ngIf="(portfdiff()>=0)">{{mult100(portfdiff())}}%</h5>
      <h5 style="color:red;"   *ngIf="(portfdiff()<0)">{{mult100(portfdiff())}}%</h5>
    </ion-col>
    <ion-col width-15>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.portf">valeur</span><span style="color:red;" *ngIf="alert_status.portf">valeur</span></ion-label> 
                <ion-input type="text" [value]="alert.portf" [(ngModel)]="alert.portf" (blur)="update_alert('portf','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25  *ngIf="alert.portf">
        <span *ngIf="show_stop_val()">stop-20%val: <b><span *ngIf="usd_market(stock.market)">$</span>{{toFixed2(loss_percentage(stock.value))}}</b><br />w: <b>{{stopdiff()}}%</b></span>
        <span *ngIf="!show_stop_val()">stop-20%port: <b><span *ngIf="usd_market(stock.market)">$</span>{{toFixed2(loss_percentage_portf(alert.portf))}}</b><br />w: <b>{{stopdiff()}}%</b></span> 
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col width-15>
      <h4>Change</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:black;">{{ stock.session_change_percentage }}%</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_change_percentage">low</span><span style="color:red;" *ngIf="alert_status.low_change_percentage">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_change_percentage" [(ngModel)]="alert.low_change_percentage" (blur)="update_alert('low_change_percentage','-num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_change_percentage">high</span><span style="color:red;" *ngIf="alert_status.high_change_percentage">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_change_percentage" [(ngModel)]="alert.high_change_percentage" (blur)="update_alert('high_change_percentage','+num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  

  
  <ion-row>
    <ion-col width-15>
      <h4>Yield</h4>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:black;"><ion-badge color="secondary">{{ stock.yield }}% <span style="font-size:0.7em;">({{ stock.divs_per_year }})</span></ion-badge></h4>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_yield">low</span><span style="color:red;" *ngIf="alert_status.low_yield">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_yield" [(ngModel)]="alert.low_yield" (blur)="update_alert('low_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_yield">high</span><span style="color:red;" *ngIf="alert_status.high_yield">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_yield" [(ngModel)]="alert.high_yield" (blur)="update_alert('high_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col width-15>
      <h4>PE Ratio</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:orange;">{{ stock.per }}</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_per">low</span><span style="color:red;" *ngIf="alert_status.low_per">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_per" [(ngModel)]="alert.low_per" (blur)="update_alert('low_per','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_per">high</span><span style="color:red;" *ngIf="alert_status.high_per">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_per" [(ngModel)]="alert.high_per" (blur)="update_alert('high_per','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-15>
      <h4>EPS(av)</h4>
      <p>price-ind 4q</p>
    </ion-col>
    <ion-col width-15>
      <h5>{{stock.eps}}</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_eps">low</span><span style="color:red;" *ngIf="alert_status.low_eps">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_eps" [(ngModel)]="alert.low_eps" (blur)="update_alert('low_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_eps">high</span><span style="color:red;" *ngIf="alert_status.high_eps">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_eps" [(ngModel)]="alert.high_eps" (blur)="update_alert('high_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>EPS hist (annual avg 4Q):</b> 
        <div *ngIf="stock.eps_hist.length>1">EPS last diff: {{stock.eps_hist[stock.eps_hist.length-1][1]}}-{{stock.eps_hist[stock.eps_hist.length-2][1]}}=
            <span style="color:red;" *ngIf="stock.eps_hist.length>1 && stock.eps_hist_last_diff<0">{{stock.eps_hist_last_diff}}% {{stock.eps_hist_trend}}</span>
            <span style="color:green;" *ngIf="stock.eps_hist.length>1 && stock.eps_hist_last_diff>=0">{{stock.eps_hist_last_diff}}% {{stock.eps_hist_trend}}</span>
        </div>
       <ul class="list">
            <li class="item" *ngFor="let eps_item of stock.eps_hist" >
             {{eps_item[0]}}: <b>{{eps_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>Yield avg: <span style="color:green;">{{stock.avgyield}}</span></b>
       <b>Yield last diff:       
       <span style="color:green;" *ngIf="(stock.yield_hist_last_diff>=0)">{{stock.yield_hist_last_diff}}%</span>
       <span style="color:red;"   *ngIf="(stock.yield_hist_last_diff<0)">{{stock.yield_hist_last_diff}}%</span>
        </b>. 
       <b>Yield hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let yield_item of stock.yield_hist" >
             {{yield_item[0]}}: <b>{{yield_item[1]}}</b>
            </li>
        </ul>
       <br /> alternative: dividend.com, DivY/Price History graph, disable Price in legend
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>PER avg: <span style="color:orange;">{{stock.avgper}}</span></b>
       <b>PER last diff: 
      <span style="color:red;" *ngIf="(stock.per_hist_last_diff>=0)">{{stock.per_hist_last_diff}}%</span>
      <span style="color:green;"   *ngIf="(stock.per_hist_last_diff<0)">{{stock.per_hist_last_diff}}%</span>
        </b>. 
       <b>PER hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let per_item of stock.per_hist" >
             {{per_item[0]}}: <b>{{per_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
       <b>OP avg: <span style="color:orange;">{{stock.avgoperating_margin}}</span></b>
       <b>OP last diff:       
       <span style="color:green;" *ngIf="(stock.operating_margin_hist_last_diff>=0)">{{stock.operating_margin_hist_last_diff}}%</span>
       <span style="color:red;"   *ngIf="(stock.operating_margin_hist_last_diff<0)">{{stock.operating_margin_hist_last_diff}}%</span>
        </b>. 
       <b>OP hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.operating_margin_hist" >
             {{item[0]}}: <b>{{item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <b>PS avg: <span style="color:orange;">{{stock.avgprice_to_sales}}</span></b>
       <b>PS last diff: 
      <span style="color:red;" *ngIf="(stock.price_to_sales_hist_last_diff>=0)">{{stock.price_to_sales_hist_last_diff}}%</span>
      <span style="color:green;"   *ngIf="(stock.price_to_sales_hist_last_diff<0)">{{stock.price_to_sales_hist_last_diff}}%</span>
        </b>. 
       <b>PS hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let item of stock.price_to_sales_hist" >
             {{item[0]}}: <b>{{item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
       <b>revenue(last year):
      <span style="color:green;" *ngIf="(stock.value_hist_last_diff>=0)">{{stock.revenue_hist_last_diff}}%</span>
      <span style="color:red;"   *ngIf="(stock.value_hist_last_diff<0)">{{stock.revenue_hist_last_diff}}%</span>
        </b>. 
       <b>revenue hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.revenue_hist" >
             {{revenue_item[0]}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>
       <b>revemie qq avg: <span style="color:orange;">{{stock.avgrevenue_growth_qq_last_year}}</span></b>
       <b>revenue qq hist</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.revenue_growth_qq_last_year_hist" >
             {{revenue_item[0]}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>
       <b>revenue 5y hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let revenue_item of stock.avg_revenue_growth_5y_hist" >
             {{revenue_item[0]}}: <b>{{revenue_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col>
       <b>leverage  <span style="color:brown;">{{stock.leverage}}</span> industry: {{stock.leverage_industry}} <!--avg: <span style="color:pink;">{{stock.avgleverage}}</span>--></b>
       <b>leverage hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let lev_item of stock.leverage_hist" >
             {{lev_item[0]}}: <b>{{lev_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>val diff since Jan 1: 
      <span style="color:green;" *ngIf="(stock.value_hist_last_diff>=0)">{{stock.value_hist_last_diff}}%</span>
      <span style="color:red;"   *ngIf="(stock.value_hist_last_diff<0)">{{stock.value_hist_last_diff}}%</span>
        </b>. 
       <b>value hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let valhist of stock.value_hist" >
             {{valhist[0]}}: <b>{{valhist[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>price to book <span style="color:brown;">{{stock.price_to_book}}</span></b>
       <b>price_to_book hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let price_to_book_item of stock.price_to_book_hist" >
             {{price_to_book_item[0]}}: <b>{{price_to_book_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  
  
  
  

  </ion-grid>
  


</ion-content>
