<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!stock">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ stock.name }}:{{stock.market}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
      <ion-col width-100><h3  style="color:blue">{{ stock.title }}</h3></ion-col>
  </ion-row>
  <ion-row>
      <ion-col width-50><h5>FACTS</h5></ion-col>
      <ion-col width-50><h5><ion-icon name="notifications"></ion-icon> ALERT  </h5></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-15>
      <h4>Value</h4>
      <p><progress-bar [progress]="mult100(stock.range_52week_heat)"></progress-bar></p>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:blue;">{{ stock.value }}</h4>
      <p><span style="text-align=right;font-size:0.8em;">{{ stock.range_52week_low }}-{{ stock.range_52week_high }}</span></p>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low">low</span><span style="color:red;" *ngIf="alert_status.low">low</span></ion-label> 
                <ion-input type="text" [value]="alert.low" [(ngModel)]="alert.low" (blur)="update_alert('low','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high">high</span><span style="color:red;" *ngIf="alert_status.high">high</span></ion-label>
                <ion-input type="text" [value]="alert.high" [(ngModel)]="alert.high" (blur)="update_alert('high','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-15>
      <h4>Change</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:black;">{{ stock.session_change_percentage }}%</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_change_percentage">low</span><span style="color:red;" *ngIf="alert_status.low_change_percentage">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_change_percentage" [(ngModel)]="alert.low_change_percentage" (blur)="update_alert('low_change_percentage','-num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_change_percentage">high</span><span style="color:red;" *ngIf="alert_status.high_change_percentage">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_change_percentage" [(ngModel)]="alert.high_change_percentage" (blur)="update_alert('high_change_percentage','+num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  

  
  <ion-row>
    <ion-col width-15>
      <h4>Yield</h4>
    </ion-col>
    <ion-col width-15>
      <h4 style="color:black;"><ion-badge color="secondary">{{ stock.yield }}% <span style="font-size:0.7em;">({{ stock.divs_per_year }})</span></ion-badge></h4>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_yield">low</span><span style="color:red;" *ngIf="alert_status.low_yield">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_yield" [(ngModel)]="alert.low_yield" (blur)="update_alert('low_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_yield">high</span><span style="color:red;" *ngIf="alert_status.high_yield">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_yield" [(ngModel)]="alert.high_yield" (blur)="update_alert('high_yield','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col width-15>
      <h4>PE Ratio</h4>
    </ion-col>
    <ion-col width-15>
      <h5 style="color:orange;">{{ stock.per }}</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_per">low</span><span style="color:red;" *ngIf="alert_status.low_per">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_per" [(ngModel)]="alert.low_per" (blur)="update_alert('low_per','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_per">high</span><span style="color:red;" *ngIf="alert_status.high_per">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_per" [(ngModel)]="alert.high_per" (blur)="update_alert('high_per','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
    <span style="color:purple;">YPR: {{stock.yield_per_ratio}}</span> - Volat: {{ stock.range_52week_volatility }}  -  Beta: {{stock.beta}}
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col width-15>
      <h4>EPS(av)</h4>
      <p>price-ind 4q</p>
    </ion-col>
    <ion-col width-15>
      <h5>{{stock.eps}}</h5>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_eps">low</span><span style="color:red;" *ngIf="alert_status.low_eps">low</span></ion-label>
                <ion-input type="text" [value]="alert.low_eps" [(ngModel)]="alert.low_eps" (blur)="update_alert('low_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.high_eps">high</span><span style="color:red;" *ngIf="alert_status.high_eps">high</span></ion-label>
                <ion-input type="text" [value]="alert.high_eps" [(ngModel)]="alert.high_eps" (blur)="update_alert('high_eps','num')"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
        

  <ion-row>
    <ion-col>
       <b>EPS hist (annual avg 4Q):</b> 
       <ul class="list">
            <li class="item" *ngFor="let eps_item of stock.eps_hist" >
             {{eps_item[0]}}: <b>{{eps_item[1]}}</b>
            </li>
        </ul>
        <div *ngIf="stock.eps_hist.length>1 && stock.eps_hist_last_down">Last eps down:<br />{{stock.eps_hist[stock.eps_hist.length-1][1]}}-{{stock.eps_hist[stock.eps_hist.length-2][1]}}=<span style="color:red;">{{stock.eps_hist_last_down}}%</span></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <b>Yield hist:</b> dividend.com, DivY/Price History graph, disable Price in legend
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col width-30>
      <h4>Portfolio</h4>
      <p>Sell alert (stoploss)</p>
    </ion-col>
    <ion-col width-25>
            <ion-item>
                <ion-label floating><span *ngIf="!alert_status.low_sell">low</span><span style="color:red;" *ngIf="alert_status.low_sell">low</span></ion-label> 
                <ion-input type="text" [value]="alert.low_sell" [(ngModel)]="alert.low_sell" (blur)="update_alert('low_sell','num')"></ion-input>
            </ion-item>
    </ion-col>
    <ion-col width-25>
            high<br />use alert
    </ion-col>
  </ion-row>
  </ion-grid>
  


</ion-content>
