
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Extra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<b>Extra</b>


 <b>usdeur=<span style="color:green;">{{usdeur}}</span></b>
  <ion-row>
    <ion-col>
       <b>avg: {{avgusdeur}}</b>
       <b>hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let usdeur_item of usdeur_hist" >
             {{usdeur_item[0]}}: <b>{{usdeur_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  
 <b>btcusd=<span style="color:orange;">{{btcusd}}</span></b>
  <ion-row>
    <ion-col>
       <b>avg: {{avgbtcusd}}</b>
       <b>hist:</b>
       <ul class="list">
            <li class="item" *ngFor="let btcusd_item of btcusd_hist" >
             {{btcusd_item[0]}}: <b>{{btcusd_item[1]}}</b>
            </li>
        </ul>
    </ion-col>
  </ion-row>
  <br />
  ref to compare mktcap <b>US</b> gdp <b>18000B</b> and budget <b>3000B</b><br />
  ref to compare mktcap <b>Spain</b> gdp <b>1200B</b> and budget <b>400B</b><br />
  See <a href="https://en.wikipedia.org/wiki/2016_Spanish_State_General_Budget">https://en.wikipedia.org/wiki/2016_Spanish_State_General_Budget</a>
  <br /><br />
  gdppcap, unemployment ... now with <b>world bank</b> is perfect (searchbox for both indicators and countries), no need to do it myself.
</ion-content>
